@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pacifico-400.woff2") format("woff2");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/raleway-300.woff2") format("woff2");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-700.woff2") format("woff2");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/raleway-900.woff2") format("woff2");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: 'Releway', sans-serif;
  font-weight: 500;
  color: #333333;
}
